header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}
header .logo {
	background: url("../images/logo.png") no-repeat;
	width: 142px;
	height: 60px;
	position: relative;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}

